apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: todo
          envFrom:
            - configMapRef:
                name: todo-config
            - secretRef:
                name: todo-secrets

