version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "development"
    schedule:
      interval: "daily"
      time: "02:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: "scope"
