apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: todo
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: todo
          image: ghcr.io/wookiesrpeople2/todo-api-node:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: ENV
              value: "base"
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "100m"
              memory: "512Mi"
          envFrom:
            - configMapRef:
                name: todo-config
            - secretRef:
                name: todo-secrets

