apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev

patches:
  - path: patches/deployment.yaml

images:
  - name: ghcr.io/wookiesrpeople2/todo-api-node:development
    newTag: development


