apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
  labels:
    app: todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: todo
          image: ghcr.io/wookiesrpeople2/todo-api-node:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: ENV
              value: "base"
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "100m"
              memory: "512Mi"
    strategy:
      canary:
        canaryService: app-canary
        stableService: app-stable
        steps:
          - setWeight: 20
          - pause: { duration: 60s }
          - setWeight: 100

