name: Release Please
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write


jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node

  cascade-merge:
    if: startsWith(github.event.head_commit.message, 'chore(main):\ release')
    runs-on: ubuntu-latest
    needs: release-please
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.CASCADE_PAT }}

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Merge main into intergration
        run: |
          git checkout intergration
          git merge origin/main --no-ff -m "chore: cascade merge main into intergration"
          git push origin intergration

      - name: Merge integration into development
        run: |
          git checkout development
          git merge origin/intergration --no-ff -m "chore: cascade merge integration into development"
          git push origin development
