name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, intergration, development ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: 'npm'
      - run: npm ci
      - run: npm test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: 'npm'
      - run: npm ci
      - run: npm test -- --coverage
